

html {
  font-size: 62.5%;
  /*by default fontsize is 16px. so 16px * 62.5 = 10px. 10px = 1rem.*/
  box-sizing: border-box;
  /*this makes it easier to manage margins paddingss and border*/
}

body {
  margin: 0;
  height: 100vh;
  /*vh = viewport height*/
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root{
  height: 100%;
}

/*layout*/
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

.home-container {
  display: grid;
    grid-template-areas:
      'banner'
      'main';
    grid-template-columns: 1fr;
    grid-template-rows: 40rem 1fr;
    height: 100%;
}

/* phones */
@media screen and (max-width: 600px) {
  .home-container {
      grid-template-rows: 14rem 1fr;
      height: 100%;
    }
  .medium.prod_img {
    height: 22rem;
  }
  .card-body {
    height: 12rem;
    padding: 0;
  }
}

header {
  grid-area: header;
  /* this connects this to the gird template area above called header*/
  background-color: #203040;
}

main {
  grid-area: main;
  padding: 1rem;
}

footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
}

/*common*/
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ff8000;
}

ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li{
  margin-top: 1rem;
}


input,
select, 
textarea,
button{
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: #f8f8f8;
    cursor: pointer;
}

button.primary{
  background-color: #f0c040; 
}

button.block{
  width: 100%;
}

button.small {
  font-size: 1.2rem;
}

button.pagination {
  margin-top: 2rem;
  border: none;
  background-color: #ffffff;
}

input:hover,
select:hover,
textarea:hover,
button:hover{
  border: 0.1rem #404040 solid;
}

header a {
  /*this means all links inside header*/
  color: #ffffff;
  padding: 1rem;
}

a.brand {
  /*this means a that has class of brand*/
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
}


.badge {
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}

.row.left {
  justify-content: left;
}

.row.top {
  align-items: flex-start;
}

.row.start {
  justify-content: flex-start;
}

.col-1 {
  flex: 1 1 25rem;
  /*the first 1 means to occupy 1 of 4 and the second one means to make it shrinkable.*/
}

.col-2 {
  flex: 2 1 50rem;
}

.col-3 {
  flex: 3 1 75rem;
}

.p1 {
  padding: 1rem;
}

.min-30 {
  min-width: 30rem;
}

/* aside */
aside {
  position: fixed;
  width: 24rem;
  height: 100%;
  background-color: #efefef;
  z-index: 1000;
  transform: translateX(-30rem);
  transition: all 0.5s;
}

aside.open {
  transform: translateX(0)
}

button.open-sidebar {
  font-size: 3rem;
  padding: 0.2rem 0.5rem;
  margin: 0 0.5rem;
  background: none;
  color: #ffffff;
  cursor: pointer;
}

button.open-sidebar:hover {
  border-color: #ffffff;
}

aside ul {
  padding: 0;
  list-style: none;
}

aside li {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

button.close-sidebar {
  padding: 0.3rem 0.8rem;
}

/* image */
img {
  border-radius: 0.5rem;
}

img.small {
  max-width: 5rem;
  width: 100%;
}

img.medium {
  max-width: 29rem;
  width: 100%;
  height: 30rem;
}

img.large{
  width: 30rem; 
  height: 30rem;
}



.container {
  margin-left: 5rem;
  margin-right: 5rem;
}
/*card*/

.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}

.card-body {
  padding: 1rem;
}

.card-body>* {
  /*all child/all element inside card-body*/
  margin-bottom: 0.5rem;
}

.price {
  font-size: 2rem;
}

/*rating*/
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}

.rating span:last-child{
  color: #404040
}

.loading{
  display: block !important;
}
.success{
  color: #20a020
}

.danger {
  color: #a02020
}

.alert{
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}

.alert-success {
  color: #20a020;
  background-color: #c1eebbe0;
}

.alert-info{
  color: #2020a0;
  background-color: #e0e0ff;
}

.alert-danger {
  color: #a02020;
  background-color: #ffe0e0e0;
}

.form {
  max-width: 60rem;
  margin: 0 auto;
}

.form > div {/*for direct div of forms*/
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.form > span {
  display: flex;
  flex-direction: row;
  margin: 1rem;
}

.form label {
  margin: 1rem 0;
 
}

.dropdown {
  display: inline-block;
  position: relative;
}

.inner-dropdown {
  display: inline-block;
  position: relative;
  z-index: 99;
}

.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem; 
  padding: 1rem;
  z-index: 1;
  background-color: #203040;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
  z-index: 99;
}

.inner-dropdown-content {
  position: absolute;
  display: none;
  right: 5rem;
  min-width: 12rem;
  padding: 1rem;
  z-index: -1;
  background-color: #203040;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}

.inner-dropdown-content.name {
top: -2.39rem;
}

.inner-dropdown-content.seller {
  top: -2.39rem;
}

.inner-dropdown-content.admin {
  top: -7rem;
}

.dropdown:hover .dropdown-content {/* if mouse over dropdown, the set dropdown-content to block display */
  display: block;
}

.inner-dropdown:hover .inner-dropdown-content { 
 display: block;
}

.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}

.checkout-steps > div.active {/* for direct div that are active*/
  border-top-color: #f08000 ;
  color: #f08000;
}

/*table*/
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td, .table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}

.table button {
  margin: 0 0.2rem;
}

/* carousel */
.carousel .slide img {
  max-width: 30rem;
}

/* search */
.search button {
  border-radius: 0 0.5rem 0.5rem 0;
  border-right: none;
  margin-right: 0.5rem;
}

.search input {
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: none;
  margin-right: 0.5rem;
}
.active {
  font-weight: bold;
}

/* pagination */
.pagination a{
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    border: 0.1rem #a4a4a4 solid;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.pagination a.active {
  font-weight: bold;
}
/* tablet */
@media screen and (max-width: 1024px) {
  .search-field {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: small;

  }
}

/* phones */
@media screen and (max-width: 600px) {
 
  a.brand {
    display: none;
  }
  .search input {
    width: 10rem;
    height: 0.3rem;
    margin-right: 0.2rem;
  }
  .search button {
  height: 2.4rem;
  }
  .search button i {
    position: relative;
    top: -0.9rem;
    font-size: 1rem;
  }
  .search-field {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: small;
    /* margin: 2rem; */
  }
     aside {
       width: 15rem;
     }
  

}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner {
  width: 970px;
  height: 250;
}

